*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;

    flex-shrink: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}